.sobre {
  padding: 3rem;
  background-color: #2c2c2c;
}

.sobre .sobre-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sobre img {
  width: 100%;
  border-radius: 20px;
}

.sobre .lado-esquerdo {
  width: 100%;
  margin: 0 auto;
}

.sobre .lado-direito {
  background-color: #333333;
  border-radius: 20px;
  padding: 20px 10px;
}

.sobre .lado-direito h2 {
  font-size: 2rem;
  color: #f8f8f8;
  margin-bottom: 1rem;
}

.sobre .lado-direito h3 {
  font-size: 1.6rem;
  color: #ba2b31;
  margin-bottom: 1rem;
}

.sobre .lado-direito p {
  font-size: 1.6rem;
  color: #f8f8f8;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .sobre .sobre-area {
    flex-direction: row;
    align-items: flex-center;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .sobre .lado-esquerdo {
    width: 35%;
  }

  .sobre .lado-direito {
    width: 65%;
  }

  .sobre img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
  }

  .sobre .lado-direito {
    padding: 30px;
  }
}
